<%= link_to 'New Image', new_image_path %>

<div class="row">
  <div class="col">
    <div class="col-xs-1" align="center">
      <div class="card" style="width: 70rem;">
        <div class="card-body">
          <p class="card-text">
            <%= render 'form', image: @image %>
          </p>
        </div>
      </div>
    </div>
    <br/>
  </div>
</div>

<br/>
<div class="row">
  <% if @info_image["collection"]["items"].size == 0 %>
    <h5 class="card-title"><%= "Votre recherche n'a pu aboutir" %></h5>
  <% else %>
    <% @info_image["collection"]["items"].each do |img| %>
      <div class="col">
        <div class="col-xs-1" align="center">
          <div class="card" style="width: 70rem;">
            <img src="<%= img["links"][0]["href"] %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= img["data"][0]["title"] %></h5>
              <p class="card-text">
                <%= img["data"][0]["description"] %>
              </p>
            </div>
          </div>
        </div>
        <br/>
      </div>
    <% end %>
  <% end %>
</div>
<br>

